.jumbo-bg {
  height: 350px;
  color: #eee;
  text-shadow: #222 0 2px 2px;
  background:url("../img/background.jpg") no-repeat center center;
  background-size: 100%;
  font-family: awery;
  text-align: center;
}
.jumbo-bg h1 {
	padding-top: 0.7em;
}
.jumbotron {
	background-color: #FFFFFF;
	font-family: "Times New Roman"
}

.jumbo-research {
	background-color: #EEE;
}

.crop {
    width: 300px;
    height: 460px;
    overflow: hidden;
}

.crop img {
	margin-left: auto;
    margin-right: auto;
}

@font-face {
	font-family: awery;
	src: url("../fonts/awery.ttf");
}

@font-face {
	font-family: barq;
	src: url("../fonts/barq.ttf");
}

.navbar {
	font-family: barq;
	font-size: 20px;
	color: #000;
}

.navbar-brand {
    font-family: awery;
    font-size: 30px;
    color: #000;
}

.row {
  font-family: "Times New Roman";
}

.img-responsive {
	width: 100%;
}

.big1::first-letter { 
    font-size: 200%;
    color: #8A2BE2;
}

.big1 p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.span8 img {
	padding: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer img {
	height: 40px;
}

.footer p {
	font-family: barq;
	font-size: 16px;
	color: #555;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 70px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}